/*
 * TYT.CSS
 *
 * Custom TYT styles
 */

.tyt-logo-160 {
  width: 160px;
  height: 160px;
}
.tyt-logo-80 {
  width: 80px;
  height: 80px;
}
.tyt-button {
  width: 120px;
}
.tyt-blue {
  color: #0B2B4A;
}
.list-group-item:hover {
  background-color: #eee;
}
