/*
 * UTILS.CSS
 *
 * Utility styles
 * - vertical-aligns
 * - margins
 */


/* PLAIN HTML */

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* VERTIAL ALIGN */

.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}

/* MARGIN */

.mar-0 {
  margin: 0px;
}
.mar-15 {
  margin: 15px;
}
.mar-30 {
  margin: 30px;
}
.mar-60 {
  margin: 60px;
}

/* MARGIN TOP */

.mar-top-0 {
  margin-top: 0px;
}
.mar-top-15 {
  margin-top: 15px;
}
.mar-top-30 {
  margin-top: 30px;
}
.mar-top-60 {
  margin-top: 60px;
}

/* MARGIN BOTTOM */

.mar-bottom-0 {
  margin-bottom: 0px;
}
.mar-bottom-15 {
  margin-bottom: 15px;
}
.mar-bottom-30 {
  margin-bottom: 30px;
}
.mar-bottom-60 {
  margin-bottom: 60px;
}

/* MARGIN RIGHT */

.mar-right-0 {
  margin-right: 0px;
}
.mar-right-15 {
  margin-right: 15px;
}
.mar-right-30 {
  margin-right: 30px;
}
.mar-right-60 {
  margin-right: 60px;
}

/* MARGIN LEFT */

.mar-left-0 {
  margin-left: 0px;
}
.mar-left-15 {
  margin-left: 15px;
}
.mar-left-30 {
  margin-left: 30px;
}
.mar-left-60 {
  margin-left: 60px;
}

/* WIDTH */

.width-80 {
  width: 160px;
}
.width-160 {
  width: 160px;
}
.width-240 {
  width: 240px;
}
.width-320 {
  width: 320px;
}
.width-400 {
  width: 400px;
}
.width-480 {
  width: 480px;
}
.width-560 {
  width: 560px;
}
